@import "./app/styles/variables";

/* You can add global styles to this file, and also import other style files */
html {
  font-family: $font-family-body;
  font-size: $font-size-root;
  color: $colour-dark;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
