@import "../../../styles/variables";

:host {
  .wrapper {
    border: $border-one;
    padding: $padding-node;
    border-radius: $border-radius-node;
    display: flex;
    justify-content: center;
    align-items: center;

    .unsetNodeInput {
      margin: 0 $border-radius-node;
    }
  }
}
